<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-lg-8">
      <%= render "shared/dashboard_navigation" %>
      <h1>Hello</h1>
        <% current_user.participations.past.each do |participation| %>
          <%= participation.course.title %>
        <% end %>
    </div>
  </div>
</div>
