
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Réserver un cours", courses_path %>
  <%= link_to "mon profil", my_profile_path %>

<div class="main-banner">
  <img src="https://images.pexels.com/photos/4686816/pexels-photo-4686816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
</div>

   <%= render 'shared/footer' %>
