<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Réserver un cours", courses_path %>
  <%= link_to "mon profil", my_profile_path %>
</div>
