<div class="main-banner">
</div>


  <h1 class="title" data-controller="title" data-action="scroll@window->title#updateTitleSize">FoodClass.</h1>
<div class="container">
  <div class="carousel-home-page-custom">
   <h3>Recettes populaires du moment</h3>
    <div class="carousel-home" data-controller="carousel">
      <div><img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
      <div><img src="https://images.pexels.com/photos/2474661/pexels-photo-2474661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
      <div><img src="https://images.pexels.com/photos/1907228/pexels-photo-1907228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
      <div><img src="https://images.pexels.com/photos/6646195/pexels-photo-6646195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
      <div><img src="https://images.pexels.com/photos/208537/pexels-photo-208537.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
      <div><img src="https://images.pexels.com/photos/6046491/pexels-photo-6046491.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
      <div><img src="https://images.pexels.com/photos/955137/pexels-photo-955137.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:640px;height:360px"  class="d-block w-100" alt="..."></div>
    </div>
  </div>

  <div class="boxes">
    <div class="boxes-row">
      <div class="box-image">
        <img src="https://images.pexels.com/photos/4259707/pexels-photo-4259707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      </div>
      <div class="box-text">
        <h2>Redécouvrez la cuisine</h2>
        <p>à la maison avec des cours ludiques et innovants.</p>
      </div>
    </div>
    <div class="boxes-row revert">
      <div class="box-image">
        <img src="https://images.pexels.com/photos/3217156/pexels-photo-3217156.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="box-text">
        <h2>Partagez une expérience</h2>
        <p>unique avec des chefs renommés qui feront de vous des cuistos aguerris</p>
      </div>
    </div>
    <div class="boxes-row">
      <div class="box-image">
        <img src="https://images.pexels.com/photos/6707696/pexels-photo-6707696.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
      <div class="box-text">
        <h2>Devenez membre</h2>
        <p>de la communauté avec les autres utilisateurs de Foodclass. Venez, cuisinez, partagez !</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
