@media(min-width: 992px) {
  .boxes {
    padding-right: 0;
    padding-left: 0;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .boxes-row {
    display: flex; /* contexte sur le parent */
  }
}

@media(max-width: 992px) {
  .boxes {
    padding-right: 0;
    padding-left: 0;
    padding-top: 150px 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
