.card-course {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.card-course
  img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-course h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-course p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-course .card-course-infos {
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 6px;
  justify-content: space-between;
  position: relative;
}
