.footer {
  background-color: $orange;
  color: $white;
  text-align: left;
  font-size: light;
  padding-top: 70px;
  margin-top: 170px;

  p {
     a  {
      font-family: roboto;
      text-decoration: none;
     }

  }
}

// text-left text-lg-start bg-light text-muted
