.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.1s background-color ease;
  height: 90px;
  // position: relative;

  .navbar-text {
    color: white;
    font-weight: 900;
    font-size: 1.3em;
    &:hover {
      color: $orange;
      font-weight: 1000;
    }
  }

  .navbar-brand {
    font-weight: 900;
    font-size: 1.3em;
    color: white;
    &:hover {
      color: $orange;
      font-weight: 1000;
    }
  }

  .title-navbar {
    opacity: 0;
    top: 20px;
    text-decoration: none;
    left: calc(50% - 71px);
    position: absolute;
  }


  .a {
    &:hover {
      color: $orange;
      font-weight: 1000;
    }
  }
}

.navbar-lewagon-white {
  background-color: white;
  border-bottom: solid 1px silver;


  .navbar-text a {
    color: black;
    font-weight: 900;
    font-size: 1.3em;
    
    &:hover {
      color: $orange;
      font-weight: 1000;
    }
  }

  .title-navbar {
    opacity: 1;
    color: $orange;
    text-decoration: none;
    font-size: 36px;
    font-family: $headers-font;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 1.4em;
    &:hover {
      color: $orange;
      font-weight: 1000;
    }
  }

}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 50px;
// }

.navbar-nav {
  align-items: center;
}
