.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.1s background-color ease;
  height: 90px;
  // position: relative;

  .title-navbar {
    opacity: 0;
    top: 20px;
    left: calc(50% - 71px);
    position: absolute;
  }
}

.navbar-lewagon-white {
  background-color: white;
  border-bottom: solid 1px silver;

  .title-navbar {
    opacity: 1;
    color: #F74C25;
    font-size: 36px;
    font-family: $headers-font;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 50px;
// }

.navbar-nav {
  align-items: center;
}
