.body-background {
  background-color: $light-pink;
  padding-bottom: 2em;
  padding-top: 72px;
}

.show-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2em;
  margin-top: 2em;
}

// Mon profil

.my-profile {
  background-color: white;
  padding: 10px 20px;

  i {
    color: $orange;
  }
}

.progress-bar-infos {
  width: 500px;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;

  p {
    font-weight: bold;
  }
}

.progress-bar-title {
  margin: 24px 0px;
  // background-color: white;
}

.level-badge img {
  width: 260;
}

.level-badge {
  padding-right: 45px;
  padding-top: 42px;
}

// Mes badges
.my-badges {
  background-color: white;
  padding: 17px 20px 54px;
}

.badges img {
  width: 90px;
  height: 90px;
  margin: auto;
}

.img-badges {
  display: grid;
  grid-template-columns: 1fr;

  p {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
  }
}

// Parrainage

.invitation {
  background-color: white;
  padding: 17px 20px 20px 20px;
  margin: 0 0 24px 0;

  h4 {
    margin-bottom: 16px;
    width: 290px;
  }

  i {
    color: $orange;
  }

}

.form-inline {
  display: flex;
  width: inherit;
}

.invitation_email {
  flex-grow: 1;
  margin-right: 6px;
}

.submit-button {
  background-color: #F74C25;
  border: none;
  color: white;
  padding: 14px 44px;
  border-radius: 4px;
  opacity: 1;
  transition: 0.3s;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.box-info-title {
  text-align: center;
}

#new_invitation {
  width: 100%;
}
