.progression-barre {
  flex-direction: column;
  text-align: center;
  margin-top: 8px;
}

.progress {
  background: $orange;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 500px;
  border: 1px solid $orange;
  margin: 0px 5px;

  p {
    color: white;
    font-size: 16px;
    width: inherit;
  }

  i {
    color: white;
  }
}

#points {
  margin-top: 16px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: white;
  height: 20px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}
