// Mes progrès

.my-progress {
  background-color: $light-pink;
  padding: 10px 20px;

  i {
    color: $orange;
  }
}

#progress {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: 150px;
    height: 150px;
  }
}

.progress-title {
  margin-bottom: 30px;

  h5 {
    padding: 10px;
  }
}

// Levels boxes

.level-boxes {
  background-color: white;
  margin-top: 10px;
  padding: 0, 15px;
}

.level-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28vh;
  margin: 10px;
}

.hex-box {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 148px;

  i {
    position: absolute;
    font-size: 24px;
    color: $black;
  }
}

// Mes compétences
.my-badges {
  background-color: $light-pink;
  border-left: solid white 32px;
  padding: 10px 20px;
}

.badges img {
  width: 90px;
  height: 90px;
  margin: auto;
}

.img-badges {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Parrainage

.invitation {
  background-color: $light-pink;
  padding: 10px 20px;
  margin: 24px 0px;

  h4 {
    margin-bottom: 16px;
  }

}

.form-inline {
  display: flex;
}

.invitation_email {
  flex-grow: 1;
}

.submit-button {
  background-color: #F74C25;
  border: none;
  color: white;
  padding: 14px 44px;
  border-radius: 4px;
  text-align: center;
  // font-size: 16px;
  margin-left: 10px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  height: 40px;
  cursor: pointer;
}
