.body-background {
  background-color: $light-pink;
  padding-bottom: 2em;
  margin-top: 100px;
}

.show-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  margin-top: 2em;
}

// Mon profil

.my-profile {
  background-color: white;
  padding: 10px 20px;

  i {
    color: $orange;
  }
}

.progress-bar-infos {
  width: 500px;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;

  p {
    font-weight: bold;
  }
}

.progress-bar-title {
  margin: 24px 0px;
  // background-color: white;
}

.level-badge img {
  width: 300px;
}


// Mes compétences
.my-badges {
  background-color: white;
  padding: 10px 20px;
}

.badges img {
  width: 90px;
  height: 90px;
  margin: auto;
}

.img-badges {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Parrainage

.invitation {
  background-color: white;
  padding: 17px 20px 4px 20px;
  margin: 24px 0px;
  display: flex;

  h4 {
    margin-bottom: 16px;
    width: 290px;
  }

}

.form-inline {
  display: flex;
  width: inherit;
}

.invitation_email {
  flex-grow: 1;
}

.submit-button {
  background-color: #F74C25;
  border: none;
  color: white;
  padding: 14px 44px;
  border-radius: 4px;
  text-align: center;
  // font-size: 16px;
  margin-left: 10px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  height: 40px;
  cursor: pointer;
}
