.container-top {
  margin-top: 130px;
}

.container-community {
  margin: 0px 108px 0px;
}

.container-title-community {
  padding-top: 50px;
  margin-top: -10px;
}

.container-form {
  margin: -30px 43px;
}

.container-community-color {
  background-color: $light-pink;
  margin-top: -10px;
  padding-top: 25px;
}

.container-form {
  margin: 26px 171px 5px;
}

.container-show-form {
  margin: 26px 431px 5px 84px;
}

.container-form-comments {
  margin: 26px 42px 5px;
}

.wrapper-emojis-comment {
  margin-right: 817px;
}

@media(min-width: 1365px) {
  .container-form {
    margin: 26px 261px 5px;
  }
}
