.transition-1 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 1031;
  background-color: $orange;
  transition: 0.5s ease-out;
}

.transition-1 {
  &.is-active {
    left: 0;
  }
}

.logo-transition img {
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 250px;
}

.carrot-fall-from-top {
  transform: translateY(400px);
  z-index: 101;
}
