<div class="container">
  <p>Salut <%= @email %>!</p>

  <% if @resource.try(:unconfirmed_email?) %>
    <p>Nous te contactons pour t'informer que ton adresse e-mail est remplacée par <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>Nous te contactons pour t'informer que ton adresse e-mail est remplacée par <%= @resource.email %>.</p>
  <% end %>
</div>
