<div class="container">
  <p>Salut <%= @resource.email %>!</p>

  <p>Tu peux changer ton mot de passe en cliquant sur le lien ci-dessous.</p>

  <p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

  <p>Si tu n'es pas l'auteur de cette demande, tu peux ignorer cet e-mail.</p>
  <p>Ton mot de passe ne changera pas tant que tu n'as pas accédé au lien ci-dessus et créé un nouveau.</p>
</div>
